<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCEohRobVs2whC0CBZTHyDM7whm4AkVAjo</string>
	<key>GCM_SENDER_ID</key>
	<string>347441987380</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.praktikum.modul2</string>
	<key>PROJECT_ID</key>
	<string>wide-cathode-404703</string>
	<key>STORAGE_BUCKET</key>
	<string>wide-cathode-404703.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:347441987380:ios:cdc30402c765a265062f61</string>
</dict>
</plist>